    <header class="hero">
      <h1><div style="font-family: 'Lobster Two', serif;">Bettergram</div></h1>
    </header>
    <footer class="footer">
      <div class="row">
        <div class="small-12 columns">
          <%= link_to "Login with Instagram", login_path, class: "fancy radius button" %>
          <p class="links">
            <!-- <#a href="#">Add links here if you want tomse</a> -->
          </p>
          <p class="copywrite">Copywrite not copypwrite © 2015</p>
        </div>
      </div>
    </footer>
