<div class="row">
  <div class="small-8 medium-6 large-5 small-centered columns">
    <div class="header panel">
      <div class="sign">
        <h1>WHOOPSY DAISY</h1>
      </div>
      <p><span>It looks like you either came across a page that doesn't exist ORRRRR you
        came across a page that has a photo with no caption.</span>
        Unfortunately, I haven't been able to fix that yet. I imagine it's quite an easy fix, but ever since I graduated Turing I have been working full-time so this poor little site hasn't seen much attention. Feel free to submit a PR though, I would be super
  duper happy if you did. Truly. Are you still reading this? Sorry, if you are. I guess I could share a joke so you don't feel like you have wasted your time on here. Here it goes:
      <br>Why did Adele cross the road?</p>
      <p><strong>TO SAY HELLO FROM THE OTHER SIDE</strong></p>
      <p>Hahaha. That one is my fave. TTYL.</p>
    </div>
  </div>
</div>
